server:
  port: 8080

jwt:
  secret: uV1tq93kPZq0aHfQ8cD6vZrX9yWnT3sM4bE2rL9kF1gJ7hQ5uN0dC8vR6xB1tP3Z
  expiration: 3600000

spring:
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        - id: catalog-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/catalog/**
          filters:
            - StripPrefix=1

        - id: order-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/orders/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/