server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://postgres-order:5432/order_db
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

swagger:
  server:
    url: ${SWAGGER_SERVER_URL:http://localhost:8083}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: true
  api-docs:
    path: /v3/api-docs